{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{{fixes.ie8()}}
{{super()}}

{% block title %} Lisboa Birthday Mystery {% endblock %}

{% block styles %}
        {{super()}}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet"
              href="{{url_for('.static', filename='styles.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
{% endblock %}
