{% extends "base.html" %}
{{super()}}

{% block title %}Keith's Lisboa Birthday Adventure{% endblock %}

{% block content %}
<div class="container" style="vertical-align: middle; max-width: 100%; max-height: 100%;">
    <div class="card text-center" style="max-width: 100%;">
        <h3 class="card-header">Keith's Lisboa Birthday Adventure</h3>
        <div class="card-block">
            {% for entry in entries %}
                {% if entry in (3, 6, 7) %}
                    <a class="btn btn-info btn-lg"
                       href="{{ url_for('show_adventure', adventure_num=entry) }}"
                       role="button"
                       style="width:40%;
                              text-align: center;">{{entry}} (optional)</a>
                    <br>
                    <br>
                {% else %}
                    <a class="btn btn-primary btn-lg"
                       href="{{ url_for('show_adventure',adventure_num=entry) }}"
                       role="button"
                       style="width:40%;
                              text-align: center;">{{entry}}</a>
                    <br>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}}