<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keith's Lisboa Birthday</title>
</head>
<body>
    <ul class=adventures>
        {% for entry in entries %}
            {% if entry in (3, 6, 7) %}
                <h1><a href="{{ url_for('show_adventure',
                                        adventure_num=entry) }}">{{entry}} (optional)</a></h1>
            {% else %}
                <h1><a href="{{ url_for('show_adventure',
                                        adventure_num=entry) }}">{{entry}}</a></h1>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>