{% extends "base.html" %}
{{super()}}
{% block title %}Mystery Revealed{% endblock %}

{% block content %}

<div class="container" style="vertical-align: middle; max-width: 100%; max-height: 100%;">
    <div class="card text-center" style="max-width: 80%; vertical-align: middle;">
      <h3 class="card-header">Mystery Adventure #{{entries.order}}</h3>
      <img class="img-responsive" src="{{entries.reveal_image}}" alt="Destination">
      <div class="card-block">
        <h4 class="card-title">{{entries.reveal_name}}</h4>
        <a href="{{entries.reveal_maps_link}}" class="card-subtitle mb-2 text-muted">{{entries.reveal_address}}</a>
        <br>
        <br>
        <p class="card-text">{{entries.reveal_text}}</p>
      </div>
    </div>
    <div class="card text-center" style="max-width: 80%; border: 0px">
        <a class="btn btn-primary btn-lg" href="{{ url_for('adventure_list') }}" role="button">Next Adventure</a>
    </div>
</div>
{% endblock %}